.modalBackground {
        position: fixed;
        display: flex;
        justify-content: center;
        width: 100%;
        top:20%;

        .modalContainer {
                border-radius: 12px;
                background-color: white;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                display: flex;
                flex-direction: column;
                padding: 17px;

                .titleCloseBtn {
                        display: flex;
                        justify-content: flex-end;

                        button {
                                background-color: transparent;
                                border: none;
                                font-size: 25px;
                                cursor: pointer;
                        }
                }

                .title {
                        display: inline-block;
                        text-align: center;
                        font-size: 18px;
                        font-weight: 600;
                }


                .modalBody {
                        flex: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 1.7rem;
                        text-align: center;
                }

                .modalFooter {
                        flex: 20%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        button {
                                width: 150px;
                                height: 45px;
                                margin: 10px;
                                border: none;
                                background-color: cornflowerblue;
                                color: white;
                                border-radius: 8px;
                                font-size: 20px;
                                cursor: pointer;
                                &.cancelBtn {
                                        background-color: crimson;
                                }
                        }
                }

                
        }
}
