@import url('https://fonts.googleapis.com/css2?family=Diphylleia&Nunito:wght@300&display=swap');

body{
        margin: 0;
        font-family: 'Diphylleia', serif;
        button{
                font-family: 'Nunito', sans-serif;

        }
}